PORT=5000
REDIS_HOSTNAME=localhost
REDIS_PORT=6379
MONGODB_SERVER_URL=mongodb://127.0.0.1:27017/secrets
JWT_SECRET=notInUse124413%
JWT_EXPIRE=1
ENABLE_REDIS=0
TEMP_FILE_LOCATION="../temp/profile"
APP_ENV=development